<div class="row">
  <div class="col-xs-12 col-lg-8 col-xl-9">
    <section class="section all-posts">
      <div class="row posts">
        {{#if @custom.homepage_featured_on_top}}
          {{#foreach posts}}
            <div class="col-xs-12 col-md-6 post-wrap">
              {{> post-card class="col"}}
            </div>
          {{/foreach}}
        {{else}}
          {{#foreach posts from="2"}}
            <div class="col-xs-12 col-md-6 post-wrap">
              {{> post-card class="col"}}
            </div>
          {{/foreach}}
        {{/if}}
      </div>
      <div class="row">
        <div class="col-xs-12 center-xs">
          <button id="load-more-posts" class="btn btn--wide btn--brand btn--bordered">
            {{t "Load more roles"}}
          </button>
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs col-lg-4 col-xl-3 has-sidebar">
    {{> sidebar}}
  </div>
</div>