<div class="row">
  <div class="col-xs-12">
    <section class="section all-posts">
      <div class="row posts">
        {{#foreach posts from="2"}}
          <div class="col-xs-12 col-md-6 col-lg-4 post-wrap">
            {{> post-card class="col"}}
          </div>
        {{/foreach}}
      </div>
      <div class="row">
        <div class="col-xs-12 center-xs">
          <button id="load-more-posts" class="btn btn--wide btn--brand btn--bordered">
            {{t "Load more roles"}}
          </button>
        </div>
      </div>
    </section>
  </div>
</div>