.audio-player {
    width: 100%;
    background: #0a0a0b;
    box-shadow: 0 0 20px 0 #000a;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
    position: fixed;
    z-index: 400;
}

.audio-player .container {
    width: auto;
    padding: 1rem 0;
    margin: 0 1rem;
}

.audio-player img {
    position: relative;
    display: none;
    float: left;
    margin-right: 2rem;
    width: 100px;
    border: 2px solid #dadada;
}

.artistName,
.showname {
    width: 100%;
}

.artistName {
    /* text-align: left; */
    font-size: 18px;
    font-weight: bold;
}

.showname {
    font-size: 16px;
}

.audio-player-one {
    bottom: 0;
}

.audio-play-one.multi {
    bottom: 135px;
}

.audio-player-two {
    bottom: 0;
    display: none;
}

.audio-player-two.show {
    display: inherit;
}

.site-footer {
    display: none;
}


/* Volume Controls */

.volume-control {
    position: fixed;
    bottom: 135px;
    width: 100%;
    height: 50px;
    background: black;
    z-index: 180;
    text-align: center;
}

#volume {
    position: relative;
    height: 5px;
    background: #555;
    border-radius: 15px;
    top: 20px;
    float: left;
    width: calc(100% - 80px);
    display: inline-block;
    margin: 0 10px;
}

#volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2593f9;
    border: none;
    border-radius: 10px;
    outline: none;
}

#volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}

.volume-control .volume-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

.volume-control i {
    position: relative;
    margin-top: -6px;
    color: #666;
    float: left;
    display: inline-block;
}

.volume-control i.fa-volume-down {
    top: 16px;
    font-size: 24px;
    margin-right: 10px;
}

.volume-control i.fa-volume-up {
    right: 15px;
    top: 16px;
    font-size: 24px;
    margin-left: 12px;
    position: absolute;
}

.play-container {
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 2rem;
    border-radius: 50%;
}

.play-container-one {
    background: #2593F9;
}

.play-container-two {
    background: #F29912;
}

.audio-player {
    height: 135px;
    padding: 2rem;
}

.audio-player .controls {
    width: 85px;
    display: inline-block;
    margin-right: 2rem;
}

.audio-player .details {
    width: calc(68% - 2rem);
}

.audio-player .controls,
.audio-player .details {
    display: inline-block;
    text-align: center;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time>* {
    padding: 2px;
}

.audio-player .controls .toggle-play.play {
    border: 17px solid transparent;
    border-left: 23px solid #fff;
    margin: 0;
    padding: 0;
    left: 35px;
    top: 25px;
    position: relative;
    cursor: pointer;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: -4px;
    background: white;
    content: "";
    height: 35px;
    width: 8px;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 35px;
    width: 8px;
}

.audio-player .controls .toggle-play.pause {
    height: 58px;
    width: 20px;
    cursor: pointer;
    position: relative;
    left: 31px;
    top: 24px;
}

.audio-player .controls-one .toggle-play.play:hover {
    transform: scale(1);
    top: 26px;
}

.live span,
.live div {
    display: inline-block;
}

.live span {
    color: grey;
    margin-right: 5px;
}

.details {
    position: relative;
    color: #fff;
    float: left;
    top: 10px;
}

@media (min-width: 400px) {
    .audio-player .controls {
        position: relative;
        float: left;
        display: block;
        /* top: 22px; */
    }
    .artistName {
        font-size: 18px;
    }
    .showname {
        font-size: inehrit;
    }
    .volume-control .volume-container {
        width: 400px;
    }
}

@media (min-width: 800px) {
    .artistName {
        font-size: 20px;
    }
    .audio-player img {
        display: block;
    }
    .audio-player .container {
        width: 100%;
        padding: 1.5rem 0;
    }
    .audio-player .controls {
        position: absolute;
        display: block;
        top: 16px;
        right: 168px;
        width: 55px;
    }
    .audio-player img {
        margin-left: 2rem;
    }
    .play-container {
        width: 45px;
        height: 45px;
        float: left;
        margin-right: 2rem;
        border-radius: 50%;
    }
    .audio-player .controls .toggle-play.play {
        border: 12px solid transparent;
        border-left: 17px solid #fff;
        margin: 0;
        padding: 0;
        left: 16px;
        top: 10px;
        position: relative;
        cursor: pointer;
    }
    .volume-control {
        position: fixed;
        bottom: 10px;
        width: auto;
        height: 50px;
        background: none;
        z-index: 1000;
        text-align: center;
        right: 20px;
    }
    .audio-player .controls-one .toggle-play.play:hover {
        transform: scale(1);
        top: 10px;
    }
    .audio-player .controls .toggle-play.pause {
        height: 58px;
        width: 20px;
        cursor: pointer;
        position: relative;
        left: 14px;
        top: 12px;
    }
    .audio-player .controls .toggle-play.pause:before {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        content: "";
        height: 20px;
        width: 6px;
    }
    .audio-player .controls .toggle-play.pause:after {
        position: absolute;
        top: 0;
        right: 3px;
        background: #fff;
        content: "";
        height: 20px;
        width: 6px;
    }
    .audio-player .controls .toggle-play.pause:hover {
        transform: scale(1.0);
    }
}